.App{
    font-family: 'Red Rose';
}

.modalContainer{
    font-family: 'Red Rose';
    color: black;
}

.choose{
    font-family: 'Red Rose';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.connectWallet{  
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}

.ButtonMeta{
    font-family: 'Red Rose';
    height: 68px;
    width: 100%;
    background-color: #F8F9FA;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin: 2% 0 3% 0;
   
}

.btnFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2% 0 0;
}

.imgMeta{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.imgMeta img{
    margin: 0 7% 0 0;
}

.imgMetaFlex{
    font-family: 'Red Rose';
    font-Weight: 500;
    font-size: 24px;
    padding: 5% 0 0 0;
}